
key1.txt1=$(key1.txt1)
key1.txt2=$(key1.txt2)

test=$(map1.key1)

this \$(notvar.foo) should not be evaluated and this \$(foobar.129) either 

this $(var.is.not) defined, should not fail, just warn.

#if(!env-name,"prod")
hello not prod
#end !prod
always here
#if(env-name,"prod")
hello prod
#end
always here 2

#if(env-node,prop.nodenum)
node2
#end

#if(prop.nested,1)
nested-true1
#if(prop.nested2,1)
nested-true2
#end
nested-true3
#end

#if(!prop.nested,1)
nested-false1
#if(prop.nested,1)
nested-false2
#end
nested-false3
#end

#if(prop.nested,1)
#if(prop.nested3,1)
nested-false4
#end
nested-true4
#end
