
key1.txt1=$(key1.txt1)
key1.txt2=$(key1.txt2)

test=$(map1.key1)

this \$(notvar.foo) should not be evaluated and this \$(foobar.129) either 

#if(!env-name,prod)
hello not prod
#end !prod
always here
#if(env-name,prod)
hello prod
#end
always here 2

#if(env-node,prop.nodenum)
node2
#end
